In [12]:
import json
import wptools
import wikipedia
import pandas as pd

print('wptools version : {}'.format(wptools.__version__))

wptools version : 0.4.17

In [13]:
import urllib.request

In [39]:
url = 'https://raw.githubusercontent.com/MonashDataFluency/python-web-scraping/master/data/fortune_500_companies.csv'
urllib.request.urlretrieve(url, 'fortune_500_companies.csv')

('fortune_500_companies.csv', 'http.client.HTTPMessage at 0x25ede05b320')

fname = 'fortune_500_companies.csv' # scrapped data from previous section
df = pd.read_csv(fname)             # reading the csv file as a pandas df
df.head()                           # displaying the first 5 rows
fname = df.tail()

In [34]:
no_of_companies = 50                        # no of companies we are interested
df_sub = df.iloc[:no_of_companies, :].copy() # only selecting the top 20 companies
companies = df_sub['company_name'].tolist()  # converting the column to a list

In [35]:
for i, j in enumerate(companies):   # looping through the list of 20 company
    print('{}. {}'.format(i+1, j))  # printing out the same

1. Walmart
2. Exxon Mobil
3. Berkshire Hathaway
4. Apple
5. UnitedHealth Group
6. McKesson
7. CVS Health
8. Amazon.com
9. AT&T
10. General Motors
11. Ford Motor
12. AmerisourceBergen
13. Chevron
14. Cardinal Health
15. Costco
16. Verizon
17. Kroger
18. General Electric
19. Walgreens Boots Alliance
20. JPMorgan Chase
21. Fannie Mae
22. Alphabet
23. Home Depot
24. Bank of America Corp.
25. Express Scripts Holding
26. Wells Fargo
27. Boeing
28. Phillips
29. Anthem
30. Microsoft
31. Valero Energy
32. Citigroup
33. Comcast
34. IBM
35. Dell Technologies
36. State Farm Insurance Cos.
37. Johnson & Johnson
38. Freddie Mac
39. Target
40. Loweâ€™s
41. Marathon Petroleum
42. Procter & Gamble
43. MetLife
44. UPS
45. PepsiCo
46. Intel
47. DowDuPont
48. Archer Daniels Midland
49. Aetna
50. FedEx

In [40]:
fname

     rank               company_name              company_website
495   496         Polaris Industries       http://www.polaris.com
496   497  Pioneer Natural Resources           http://www.pxd.com
497   498             ABM Industries           http://www.abm.com
498   499              Vistra Energy  http://www.vistraenergy.com
499   500                     Cintas        http://www.cintas.com