In [ ]:
#importing libraries, tqdm is some crap that adds an extensible progress bar to the project
# install it like that: conda install -c conda-forge tqdm 
# snscrape is a social media scraper. install it like: pip3 install snscrape

In [6]:
import pandas as pd
from tqdm.notebook import tqdm
import snscrape.modules.twitter as sntwitter

In [7]:
#scraper = sntwitter.TwitterSearchScraper("#donaldtrump")

In [13]:
for tweet in scraper.get_items():
    break

In [ ]:
scraper = sntwitter.TwitterSearchScraper("#president")

tweets = []

for i, tweet in enumerate (scraper.get_items()):
    data = [
        tweet.date, 
        tweet.id,
        tweet.user.username, 
        tweet.likeCount, 
        tweet.retweetCount,
    ]
    tweets.append(data)
    if i > 50: 
        break

In [ ]:
len(tweets)

In [ ]:
tweet_df = pd.DataFrame(
    tweets, columns = ["tweet.date", "tweet.id", "tweet.user.username", "tweet.likeCount", "tweet.retweetCount"]
)

In [ ]:
tweet_df

In [10]:
tweet_df.to_csv("donald_trump.csv", index=True)

In [9]:
# add a progress bar

In [10]:
import pandas as pd
from tqdm.notebook import tqdm
import snscrape.modules.twitter as sntwitter

for tweet in scraper.get_items():
    break

scraper = sntwitter.TwitterSearchScraper("#donaldtrump")

tweets = []
n_tweets = 1_000
for i, tweet in tqdm (enumerate(scraper.get_items()), total=n_tweets):
    data = [
        tweet.date, 
        tweet.id,
        tweet.user.username, 
        tweet.likeCount, 
        tweet.retweetCount,
    ]
    tweets.append(data)
    if i > n_tweets: 
        break

tweet_df = pd.DataFrame(
    tweets, columns = ["tweet.date", "tweet.id", "tweet.user.username", "tweet.likeCount", "tweet.retweetCount"]
)

tweet_df

  0%|          | 0/1000 [00:00<?, ?it/s]

,tweet.date,tweet.id,tweet.user.username,tweet.likeCount,tweet.retweetCount
0,2023-02-13 13:53:05+00:00,1625130945257869316,KadenaUK,0,0
1,2023-02-13 13:49:00+00:00,1625129916349165569,KadenaEcosystem,3,0
2,2023-02-13 13:44:00+00:00,1625128658321960968,AIYeyENGDdJkjTr,0,0
3,2023-02-13 13:33:00+00:00,1625125890123264001,KadenaEcosystem,1,1
4,2023-02-13 13:23:14+00:00,1625123432160497666,Schadowsky666,2,1
...,...,...,...,...,...
997,2023-02-02 03:12:48+00:00,1620983548131016706,AIYeyENGDdJkjTr,0,0
998,2023-02-02 02:54:23+00:00,1620978910916902912,thearkintel,11,2
999,2023-02-02 02:35:35+00:00,1620974182300323842,BarbaricPuma,3,0
1000,2023-02-02 02:33:34+00:00,1620973674026405888,ryansmi65393560,2,0
1001,2023-02-02 02:32:18+00:00,1620973356001492996,gini__us,85,3

In [11]:
tweet_df.to_csv("xxxtweetsxxx.csv", index=True)